wiki/FitNesseRoot/**/*.zip
wiki/FitNesseRoot/files/screenshots
wiki/FitNesseRoot/files/testResults
wiki/FitNesseRoot/ErrorLogs
hsac-fitnesse-fixtures.iml
wiki/FitNesseRoot/FitNesse
wiki/FitNesseRoot/PageFooter
wiki/FitNesseRoot/PageHeader
wiki/FitNesseRoot/RecentChanges
wiki/FitNesseRoot/TemplateLibrary
wiki/fixtures/
properties
updateDoNotCopyOverList
updateList
target/
wiki/FitNesseRoot/files/testProgress
wiki/FitNesseRoot/files/downloads
.gitignore
.idea/
wiki/FitNesseRoot/files/pagesources
yarden
.svn
ysi
lal
mdb
paf
siebel
yesbus
ysiRelationMutation
lalGetPolicies
leanapps
myYardenWs
yarCancellation
yarGetPolicy
yarMandate
yarOpportunity
yarPolicy
yarPolicyServiceRequest
ysiGetPolicies
YardenSoftwareOntwikkelingIntegratieTests
